.sidenav {
    background-color: #3f51b5;
    width: 200px;
    border-radius: 0px;
   
}

.menu {
    color: #FFF; 
}

.sidenav a {
    border-radius: 0px;
}

.sidenav i {
    padding-right: 10px;
    color: #FFF;
}

.content {
    padding: 16px;
    background-color: #FFF;
}

